.container {
  background: var(--color-pale-blue);
  position: relative;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-sizing: border-box;
}

.title {
  z-index: 1;
}

.logo {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 20px;
}
