.float-input {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-blue);
  transition: border-bottom 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding-bottom: 8px;
  box-sizing: border-box;
}

.float-input-error {
  border-bottom: 1px solid var(--color-red);
}

.float-input:hover,
.float-input:focus-within {
  border-bottom: 1px solid var(--color-blue);
  transition: border-bottom 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.float-input-error:hover,
.float-input-error:focus-within {
  border-bottom: 1px solid var(--color-red);
  transition: border-bottom 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.float-input:focus-within label,
.float-input input:-webkit-autofill + label {
  left: 0;
  top: 0;
  font-size: 12px;
  line-height: 24px;
}

.float-input-filled {
  left: 0;
  top: 0 !important;
  font-size: 12px !important;
  line-height: 16px;
}

.float-input label {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 24px;
  transition: 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-light-black);
}

.float-input input {
  height: 40px;
  border: none;
  padding: 24px 0 0;
  font-size: 16px;
  line-height: 16px;
  color: #2c2e31;
  outline: none;
  box-shadow: none;
  background: transparent;
  box-sizing: border-box;
  transition: 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.float-input-hint {
  font-size: 12px;
  color: var(--color-red);
  height: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
