.container {
  z-index: 1;
}

.content {
  height: 240px;
  width: 100%;
  overflow: auto;
  display: flex;
}

.content::-webkit-scrollbar {
  display: none;
}

.item {
  height: 100%;
  user-select: none;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.dot-container {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  gap: 4px;
}
