.avatar {
  position: absolute;
  top: -50px;
  left: 90px;
  height: 100px;
  right: 90px;
  justify-content: center;
  align-items: center;
}

.leftButton {
  position: absolute;
  top: -20px;
  left: 50px;
}

.rightButton {
  position: absolute;
  top: -20px;
  right: 50px;
}

.item {
  border-bottom: '1px solid var(--color-pale-blue)';
}
