.container {
  position: relative;
}

.content {
  width: 100%;
  background: var(--color-grey);
  opacity: 0.3;
}

.skeleton {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  background: linear-gradient(60deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  animation: loading 1s infinite;
}
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
