.avatar-selected {
  border: 2px solid var(--color-blue);
}

.avatar {
  border: 2px solid var(--color-additional-grey);
}

.image {
  width: 72px;
  height: 72px;
  position: absolute;
  left: -2px;
  top: -2px;
}

.avatar-container {
  gap: 16px;
  flex-wrap: wrap;
}
