.content {
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 6px;
  border-radius: 12px;
  -webkit-overflow-scrolling: touch;
}

.content::-webkit-scrollbar {
  height: 0;
}

.item {
  height: 100%;
  min-width: 100%;
  user-select: none;
}

.dot-container {
  gap: 4px;
}
