.input {
  height: 28px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  border: none;
  border-bottom: 1px solid var(--color-grey);
  outline: none;
  font-family: inherit;
}
.button {
  flex: 1;
}
